.search-bar {
  padding-bottom: 40px;
  display: flex;
  /* para o button não cair na linha debaixo */
}

.search-bar input {
  height: 40px;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid var(--color-input);
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}

.search-bar input::placeholder {
  color: var(--color-input);
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: var(--bg-button);
  color: var(--color-button);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 0 11px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}