@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

:root {
  --bg-primary: #ffffff;
  --bg-header: #f78b00;
  --bg-button: #00285f;
  --bg-card: #ededed;
  --color-header: #00285f;
  --color-button: #ffffff;
  --color-input: #a7a7a7;
  --color-title: #000000;
  --color-text: #585858;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

html,
body {
  background-color: var(--bg-primary);
}
